<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
        <link rel="stylesheet" href="/js/highlight/styles/solarized-light.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
        <script src="/js/highlight/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="canonical" href="http://roundcrisis.com{{ page.url | replace:'index.html','' }}" />
        <!-- counter.dev analitics-->
        <script src="https://cdn.counter.dev/script.js" data-id="5bc4483a-b6ba-4e23-b512-df0718ecc7dc" data-utcoffset="0"></script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>            
            <a class="extra" href="/about">About</a>
            <a class="extra" href="/contact">Contact me</a>
            <a class="extra" href="/speaking">Presentations</a>
            <a class="extra" href="https://bytesizearchitecturesessions.com/" target="_blank" rel="noopener noreferrer"> >Bytesize Sessions</a>  
             <a href="http://feeds.feedburner.com/Roundcrisis"
             rel="alternate"
             type="application/rss+xml">
             <img src="{{site.images}}/rss.png" alt="rss feed" height="16px" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/Roundcrisis" rel="alternate" type="application/rss+xml"> rss </a>
          </div>

          {{ content }}

          <div class="footer">

            <div class="contact">
              <p>
                <a href="https://github.com/Andrea">My github </a><br />
                <a rel="me" href="https://types.pl/@roundcrisis">mastodon @roundcrisis@types.pl</a> <br />
                © 2008-2024 Andrea Magnorsky
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
