---
layout: default
---
<h2>{{ page.title }}</h2>


<p class="meta">{{ page.date | date_to_string }}</p>
 


<div class="post">
{{ content }}
</div>

<div class="post-categories meta"><p>Categories: &nbsp;
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      {{category}}
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </p>

Want to discuss this post? the best place right now for me is mastodon, please message me @roundcrisis@types.pl with your comment or question.